header {
    background-color: lightblue;
    padding: 15px;
    margin: 0px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
  }

  body {
    background-color: rgb(240, 249, 255); 
  }  
  h1 {
    margin-left: 20px;
  }

  h3 {
      font-size: 18px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bokser {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boks {
      border: 1px solid rgb(219, 219, 219);
      border-radius: 10px;
      background-color: white;
      display: inline-grid;
      text-align: center; 
      padding: 10px;
      margin-left: 20px;
      margin-right: 20px;
      width: 230px;
      height: 230px;
  }

  .stock{
    font-size: 12px; 
  }

  .laptopInfo {
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translate(-50%, -51%);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    background-color: white;
    margin: auto;
    width: 800px;
    padding: 10px;
    height: 250px;
    display: inline-flex;
  }

  .features {
    text-align: left;
    padding-left: 6px;
      margin-top: 5px;
      margin-bottom: 0;
  }

  .specs {
    font-size: 11px; 
    text-align: left;
    padding-left: 7px;
  }

  .laptopinfo div img {
    height: 80%;
  }
  .btn {
    font-size: 16px;
    margin: 3px;
    height: 35px;
  }

  .prisKjop {
    position: absolute;
    display: inline-flex;
    bottom:0;
    right:0;
    padding: 12px;
  }

  .prisKjop p {
      margin-right: 30px;
      margin-top: 10px;
  }


